fastapi
uvicorn
requests
beautifulsoup4
lxml
pydantic
sentence-transformers
torch
chromadb
openai
pdfplumber
pytesseract
Pillow
regex
python-multipart
tqdm
langdetect
fastapi 
uvicorn
pypdf 
langchain 
langchain-experimental 
langchain-community 
python-dotenv
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
langchain-core==0.1.23
langchain-groq==0.0.1
chromadb==0.4.22
python-dotenv==1.0.0